__pycache__
electorate-overlap/
google-political-ads-transparency-bundle/
google-political-ads-transparency-bundle.zip
adfiles/
# *.sqlite
.DS_Store
aus-google-ad-data.*
analysis/
adimages/
venv/
geckodriver.log